<!DOCTYPE html>
# <html>
# <head>
#     <title>User Dashboard</title>
# </head>
# <body>
#     <h1>Welcome, {{ user.username }}</h1>
    
#     <h2>Your Daily Expenses</h2>
#     <p>Tea: ₹{{ form.tea_expense }}</p>
#     <p>Coffee: ₹{{ form.coffee_expense }}</p>
#     <p>Biscuit: ₹{{ form.biscuit_expense }}</p>
#     <p>Smoking: ₹{{ form.smoking_expense }}</p>

#     <h2>Spending Summary</h2>
#     <p>Daily: ₹{{ after_analysis.daily }}</p>
#     <p>Weekly: ₹{{ after_analysis.weekly}}</p>
#     <p>Monthly: ₹{{ after_analysis.monthly}}</p>
# </body>
# </html>